@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    -ms-zoom: fixed;
    -ms-content-zooming: none;
    zoom: 1.0;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

:root {
    touch-action: pan-x pan-y;
    height: 100% 
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#container{
    width: 100%;
    height: 100%;
    background: #ed6ea0;
    background: linear-gradient(
        to right,
        #ed6ea0,#ec8c69
    );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#icon-app {
    display: block;
}

.custom-button {
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    border: 2px solid #000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.custom-button:hover {
    transform: scale(1.2);
}

#quote {
    display: block;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    cursor: default;
    font-family: 'Roboto Mono', monospace;
    padding-left: 20px;
    padding-right: 20px;
}

#author {
    display: block;
    font-size: 14px;
    cursor: default;
    margin-top: 5px;
}

span {
    border-right: .15em solid transparent;
    animation: typing 1s steps(40, end);
}

@keyframes typing {
    from {
        width: 0;
    }
}